<h1 class="text-2xl text-center my-2">Danceify</h1>

<form
  [formGroup]="danceForm"
  (ngSubmit)="getDanceVideo()"
  class="flex">

  <input
    class="border p-2 rounded border-blue-500 active:border-blue-500 flex-grow"
    placeholder="Gib hier einen Namen ein!"
    type="text"
    formControlName="name">

  <button
    class="ml-2 p-2 text-xl rounded text-white bg-blue-500 hover:bg-white hover:text-blue-500 border hover:border-blue-500 disabled:opacity-50 flex-grow-1"
    type="submit"
    [disabled]="!danceForm.valid"
    >Tanz!</button>

</form>

<video
  *ngIf="name"
  class="rounded my-2 min-h-0"
  controls
  autoplay
  [src]="'/api/dance/' + name"
  [playbackRate]="2">
</video>
